body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ticket-title,
.ticket-form-title {
  text-align: center;
  margin-bottom: 15px;
}

.ticket-header {
  background-color: #bb1333;
  border-radius: 5px;
  color: white;
}

.ticket-header,
.ticket {
  display: grid;
  width: 100%;
  padding: 10px 0;
  grid-template-columns: 1.5fr 4.5fr 2.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  align-items: center;
  grid-template-areas: "id title categories user status created updated";
  text-decoration: none;
}

.id { grid-area: id; justify-self: center; }
.title {
  grid-area: title;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 15px;
}
.categories { grid-area: categories; }
.user { grid-area: user; }
.status { grid-area: status; }
.created { grid-area: created; }
.updated { grid-area: updated; }

.ticket {
  border: 1px solid black;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.ticket-header > p,
.ticket > p {
  margin-bottom: 0;
}

.ticket-header > p {
  text-decoration: underline;
  font-variant: small-caps;
}

.ticket.even {
  background-color: white;
}

.ticket.odd {
  background-color: whitesmoke;
}

.status > span {
  padding: 5px 10px;
  border-radius: 5px;
  font-variant: small-caps;
}

.status.pending > span {
  color: #ffffff;
  background-color: #002070;
}

.status.helping > span {
  color: #ffffff;
  background-color: #125172;
}

.status.resolved > span {
  color: #ffffff;
  background-color: #00703c;
}

.status.archived > span {
  color: #fff;
  background-color: #252c2f;
}

.ticket-textarea {
  min-height: 17vh;
}

.btn-secondary {
  background-color: #73011e !important;
  filter: brightness(150%);
  transition: 200ms !important;
}

.btn-secondary:hover {
  filter: brightness(125%);
}

.navbar img[alt="logo"] {
  max-width: 200px;
}

.ticket-form {
  padding-bottom: 10px;
}

.navbar {
  border-radius: 5px;
}

.single-ticket {
  display: flex;
}

.single-ticket .group {
  margin: 10px 0;
  font-size: 1.25rem;
  flex: 1;
}

.single-ticket .group .subtitle {
  font-size: 2rem !important;
  color: #002070;
  font-variant: small-caps;
}

input.form-control::placeholder,
textarea.form-control::placeholder {
  opacity: .5;
}

.account-form {
  margin-top: 15px;
}

.tab-content .alert {
  margin-top: .5rem;
  margin-bottom: -.5rem;
}

.tab-content {
  margin-bottom: 15px;
}

.card h2.display-4 {
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  margin: 10px 0;
}

.single-ticket-container .card h2.display-4 {
  font-size: 3.5rem;
}

h4.display-4 {
  text-decoration: underline;
}

.nav-tabs .nav-item {
  flex: 1;
}

.display-4 {
  font-weight: bold !important;
}

/*
  color: #bb1333; #002070
  color: #252c2f; #1e50ee
  color: #125172; #55596d
  color: #ffffff; #08addd #343a40
} */
